@{
    ViewData["Title"] = "Info";
}
<article itemscope="" itemtype="http://schema.org/Article">
	<br />
	<h1 class="page-top__title text48 text28-tablet medium-text">
		Контакты
	</h1>
	<br />
    <section class="custom1 about d-flex justify-content-between">
        <nav class="article-content clearfix left-nav1" itemprop="articleBody">
            <p>Интернет - Магазин: <a href="https://interior-center.shop/">interior-center.shop</a></p>
            <p>
                <a href="http://ufamebel.su/"></a>E-Mail:&nbsp;
                <span id="cloak677e74fbe695dd96d404cead470a5025">
                    <a href="mailto:zakaz@interior-center.shop">zakaz@interior-center.shop</a>
                </span>
            </p>
            <p>График работы: с 10-00 до 20-00 Без выходных&nbsp;</p>
            <p>
                Производство:
                <br>1 цех – г. Пенза, ул. Рябова, д.31
                <br>2 цех – г. Пенза, ул. Германа Титова, д.5
                <br>3 цех – г. Пенза, ул. Бийская, д.1Б
            </p>
            <p><span style="color: #ff0000;"><strong>НАШИ ПРЕИМУЩЕСТВА:&nbsp;</strong></span></p>
            <ul>
                <li><div>Быстрая поставка</div></li>
                <li><div>Доставка по всей России</div></li>
                <li><div>Бесплатная доставка по Москве</div></li>
                <li><div>Бесплатный дизайн-проект любой сложности</div></li>
                <li><div>Гарантия на всю мебель - 2 года</div></li>
                <li><div>Послегарантийное обслуживание</div></li>
                <li><div>Всегда доступен для скачивания последний каталог фабрики Интерьер Центр</div></li>
            </ul>
        </nav>

        <nav class="contacts-map right-nav1">
            <div style="position:relative;overflow:hidden;">
                <a href="https://yandex.ru/maps/49/penza/search/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%8C%D0%B5%D1%80%20%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%D1%86%D0%B5%D1%85/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Интерьер центр цех в Пензе</a>
                <a href="https://yandex.ru/maps/49/penza/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Пенза</a>
                <iframe src="https://yandex.ru/map-widget/v1/?ll=45.115565%2C53.182331&mode=search&sctx=ZAAAAAgBEAAaKAoSCffHe9XKjkZAEQMGSZ9Wl0pAEhIJBfuvc9Nm3D8ROuY8Y1%2ByxT8iBgABAgMEBSgKOABAsooGSAFqAnJ1nQHNzMw9oAEAqAEAvQHRRDXJwgEXmIDK9AO%2B4uC3%2BQbFq8C4rQbOyLjS5QaCAiLQmNC90YLQtdGA0YzQtdGAINGG0LXQvdGC0YAg0YbQtdGFigIAkgIAmgIMZGVza3RvcC1tYXBz&sll=45.115565%2C53.182331&sspn=0.443776%2C0.169506&text=%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%8C%D0%B5%D1%80%20%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%D1%86%D0%B5%D1%85&utm_source=main_stripe_big&z=12" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
        </nav>
    </section>
    <!-- Footer -->
	<!-- // Footer -->

</article>