




<article itemscope="" itemtype="http://schema.org/Article">
	<meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://google.com/article">
	<meta itemprop="inLanguage" content="ru-RU">
	<br />

	<h1 class="page-top__title text48 text28-tablet medium-text">
		Доставка и оплата
	</h1>

	<br />


	<section class="article-content clearfix" itemprop="articleBody">
		<p><span style="color: #000000;"><strong>Срок комплектации - 2-5 дней при наличии на Региональном складе</strong></span></p>
		<p><strong>Срок изготовления КУХНИ 5-10 дней&nbsp;</strong></p>
		<p><span style="color: #000000;"><strong>Срок комплектации 10-14 дней при заказе на производстве</strong></span></p>
		<p><span style="color: #000000;"><strong>Срок доставки заказа сообщит менеджер при оформлении заказа</strong></span></p>
		<p><span style="color: #993300;"><strong>&nbsp;</strong></span></p>
		<p><span style="color: #993300;"><strong>ДОСТАВКА - </strong><span style="color: #000000;">1300 руб&nbsp; в пределах МКАД</span></span></p>
		<p>Доставка за МКАД + 26 руб 1 км</p>
		<p><span style="color: #993300;"><strong>ПОДЪЕМ</strong></span> -&nbsp;<strong>&nbsp;корпусная мебель -</strong>на лифте 400-600 руб, шкафы-купе 600 руб, 1% ручной подъем (за 1 этаж минимальный подъем 200 руб), 1,5% занос в частный дом на 1 этаж</p>
		<p><strong><span style="color: #993300;">СБОРКА</span></strong>&nbsp;- 15% от цены не менее 1 000 руб (выезд сборщика 30 руб 1 км)</p>
		<p>&nbsp;</p>
		<p><strong><span style="color: #993300;">СБОРКА КУХНИ</span></strong>&nbsp;- 20% от цены не менее 3 000 руб (выезд сборщика 26 руб 1 км)</p>
		<p><strong>В цену сборки кухни входит:</strong> Расстановка и навеска модулей в указанное Вами место. Стяжка элементов, установка столешницы, плинтуса, стеновой панели, всё что выписано и заказано Вами в заявке.<strong><br></strong></p>
		<p>&nbsp;</p>
		<p><strong>Наличный расчет</strong></p>
		<p>Вы можете оплатить заказ наличными средствами непосредственно в момент получения товара.</p>
		<p><strong>Банковская карта</strong></p>
		<p>Наши курьеры принимают к оплате банковские карты - для этого используются специальные мобильные терминалы.</p>
		<p><strong>&nbsp;</strong></p>
		<p>&nbsp;</p>
	</section>


</article>