
@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center;">Каталог</h1>
<div class="catalog">
    <div>
        <div class="item">
            <a href="gerda.html">
                <img height="140" width="200" src="images/Gerda_Wall.jpg" alt="Стенка Герда Антрацит" />
            </a>
            <h3>
                <a href="gerda.html">Стенка Герда Антрацит</a> - <span style="color:red;">22 478 руб</span>
            </h3>
            <p>Размер 2400Х2100Х450</p>
        </div>
        <div class="item">
            <a href="nord.html">
                <img height="140" width="200" src="images/Nord_Bedroom.jpg" alt="Спальня Норд" />
            </a>
            <h3>
                <a href="nord.html">Спальня Норд</a> - <span style="color:red;">19 420 руб</span>
            </h3>
            <p>Модульная мебель</p>
        </div>
        <div class="item">
            <a href="ronda.html">
                <img height="140" width="200" src="images/Childroom_Ronda.jpg" alt="Ронда детская Белое дерево" />
            </a>
            <h3>
                <a href="ronda.html">Ронда детская Белое дерево</a> - <span style="color:red;">28 971 руб</span>
            </h3>
            <p>Модульная мебель</p>
        </div>

    </div>
    <div>
        <div class="item">
            <a href="aurora.html">
                <img height="140" width="200" src="images/Aurora_Kitchen.jpg" alt="Аврора Дуб Крафт белый 2.0 м" />
            </a>
            <h3>
                <a href="aurora.html">Аврора Дуб Крафт белый 2.0 м</a> - <span style="color:red;">15 680 руб</span>
            </h3>
            <p>Кухня на заказ. Цена за 1 м.п. от</p>
        </div>
        <div class="item">
            <a href="boston.html">
                <img height="140" width="200" src="images/Boston-Corridor.jpg" alt="Прихожая Бостон" />
            </a>
            <h3>
                <a href="boston.html">Прихожая Бостон</a> - <span style="color:red;">20 680 руб</span>
            </h3>
            <p>Размер 1900х2120х450</p>
        </div>
        <div class="item">
            <a href="shimo.html">
                <img height="140" width="200" src="images/Shimo-Table.jpg" alt="Стол-книжка СТК-003 Шимо" />
            </a>
            <h3>
                <a href="shimo.html">Стол-книжка СТК-003 Шимо</a> - <span style="color:red;">4 571 руб</span>
            </h3>
            <p>Размер 1645х750х800</p>
        </div>

    </div>
    <div>
        <div class="item">
            <a href="aurora.html">
                <img height="140" width="200" src="images/Aurora_Kitchen.jpg" alt="Аврора Дуб Крафт белый 2.0 м" />
            </a>
            <h3>
                <a href="aurora.html">Аврора Дуб Крафт белый 2.0 м</a> - <span style="color:red;">15 680 руб</span>
            </h3>
            <p>Кухня на заказ. Цена за 1 м.п. от</p>
        </div>
        <div class="item">
            <a href="boston.html">
                <img height="140" width="200" src="images/Boston-Corridor.jpg" alt="Прихожая Бостон" />
            </a>
            <h3>
                <a href="boston.html">Прихожая Бостон</a> - <span style="color:red;">20 680 руб</span>
            </h3>
            <p>Размер 1900х2120х450</p>
        </div>
        <div class="item">
            <a href="shimo.html">
                <img height="140" width="200" src="images/Shimo-Table.jpg" alt="Стол-книжка СТК-003 Шимо" />
            </a>
            <h3>
                <a href="shimo.html">Стол-книжка СТК-003 Шимо</a> - <span style="color:red;">4 571 руб</span>
            </h3>
            <p>Размер 1645х750х800</p>
        </div>

    </div>
    <div>
        <div class="item">
            <a href="aurora.html">
                <img height="140" width="200" src="images/Aurora_Kitchen.jpg" alt="Аврора Дуб Крафт белый 2.0 м" />
            </a>
            <h3>
                <a href="aurora.html">Аврора Дуб Крафт белый 2.0 м</a> - <span style="color:red;">15 680 руб</span>
            </h3>
            <p>Кухня на заказ. Цена за 1 м.п. от</p>
        </div>
        <div class="item">
            <a href="boston.html">
                <img height="140" width="200" src="images/Boston-Corridor.jpg" alt="Прихожая Бостон" />
            </a>
            <h3>
                <a href="boston.html">Прихожая Бостон</a> - <span style="color:red;">20 680 руб</span>
            </h3>
            <p>Размер 1900х2120х450</p>
        </div>
        <div class="item">
            <a href="shimo.html">
                <img height="140" width="200" src="images/Shimo-Table.jpg" alt="Стол-книжка СТК-003 Шимо" />
            </a>
            <h3>
                <a href="shimo.html">Стол-книжка СТК-003 Шимо</a> - <span style="color:red;">4 571 руб</span>
            </h3>
            <p>Размер 1645х750х800</p>
        </div>

    </div>
</div>


